*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
#hillstation{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    z-index: -1;
}
.login-form{
    width: 70%;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
.login-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    color: white;
    margin-top: 1rem;
}
.form-body{
    padding-top: 1rem;
    width: 100%;
}
.form-body form{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}
.form-body form label{
    color:white;
    font-size: 1rem;
}
.form-body form input{
    padding:.5rem;
    border-radius: 20px;
    border: none;
    background: transparent;
    border-bottom: 3px solid black;
    color:white;
    font-size: 1rem;
    font-weight: 600;
}
.signup-btn{
    width: 10rem;
    font-size: 1 rem;
    padding: .5rem .5rem;
    color: white;
    font-weight: 600;
    background-color: rgb(8, 29, 60);
    border-radius: 20px;
    border: none;
    margin-bottom: 1rem;
}
.sign-up{
    text-decoration: none;
    border: 2px solid blue;
    padding: .5rem .5rem;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}
form p{
    color: white;
}
.err-msg{
    width:100%;
    color:white;
    z-index: 99;
}
.signup-back-btn{
    position: absolute;
    top:5%;
    right: 15%;
    margin-bottom: 1rem;
}
.signup-back-btn button{
    width:5rem;
    font-size: 1rem;
    font-weight: 600;
    color: wheat;
    background-color: transparent;
    border: none;
}